name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.7'
          cache: true
      - run: go version
      - run: go mod download
      - run: CGO_ENABLED=0 go vet ./...
      - run: CGO_ENABLED=0 go test ./... -v
